@font-face {
  font-family: Norse-Bold;
  src: url("Norse-Bold.otf") format("opentype");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

.body-container {
  display: flex;
  flex-direction: row;
  background: black;
  width: 100%;
  font-family: sans-serif;
}

.image-container {
  background: url("https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
  width: 30%;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
}

.image-text {
  background: rgb(5 5 4 / 50%);
  display: flex;
  align-items: center;
  color: white;
  font-size: 50px;
  font-family: Norse-Bold, sans-serif;
  margin-top: 120px;
  padding: 10px;
}

.logo {
  height: 80px;
  width: 70px;
}

.photo-by {
  color: rgb(247 236 236);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  font-size: 10px;
  font-weight: 100;
}

.line {
  text-decoration: underline;
}

.content-container {
  display: flex;
  flex-direction: column;
  background: rgb(250 253 253);
  width: 70%;
}

.content {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 13px;
  background: rgb(237 247 246);
  height: 200px;
}

.content-text1 {
  width: 70%;
  margin: 100px 30px 10px 20px;
}

.content-text2 {
  margin-left: 20px;
  margin-bottom: 10px;
}

.detail-header {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-body {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.form-lists {
  display: flex;
  height: 100px;
  padding: 20px;
  box-shadow: 0 3px #ebe3e3;
}

.right {
  margin-left: 100px;
}

.forms {
  display: flex;
  flex-direction: column;
}

.label .input {
  display: block;
}

input {
  border-style: ridge;
  outline: none;
  width: 200px;
  border-width: thin;
  margin-bottom: 5px;
  border-radius: 5px;
}

.input:invalid {
  border: 1px solid #ee0e0e;
}

.input:focus {
  border-color: #0000;
  box-shadow: 0 2px 6px #000;
  border-bottom: none;
}

.error {
  display: none;
}

.input:invalid + .error {
  display: block;
  color: #ff0101;
  margin-top: 2px;
}

.acc-button {
  border-radius: 4px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px 0 0 20px;
  background: #596d48;
  color: white;
  box-shadow: 3px 3px #ebe3e3;
}

.acc-button:hover {
  background-color: #ffff;
  color: #000;
}

.link-text {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 10px;
  font-weight: bold;
}

.link {
  color: green;
  text-decoration: none;
}
