.body-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: black;
  width: 1200px;
  font-family: sans-serif;
}

.image-container {
  background: url("https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
  width: 300px;
  height: 550px;
  display: flex;
  flex-direction: column;
}

.image-text {
  background: rgb(5 5 4 / 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 50px;
  font-family: Norse, sans-serif;
  margin-top: 120px;
}

.logo {
  height: 100px;
  width: 100px;
}

.photo-by {
  color: rgb(247 236 236);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  font-size: 10px;
  font-weight: 100;
}

.line {
  text-decoration: underline;
}

.content-container {
  display: flex;
  flex-direction: column;
  background: rgb(250 253 253);
  width: 600px;
}

.content {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 13px;
  background: rgb(237 247 246);
  width: 600px;
  height: 220px;
}

.content-text1 {
  margin: 80px 100px 10px 30px;
  width: 400px;
}

.content-text2 {
  margin-left: 30px;
}

.details {
  background-color: rgb(255 248 248);
  display: flex;
  flex-direction: column;
  border-bottom: 5px solid rgb(253 238 238);
  box-shadow: 0 3px #e0dede;
}

.detail-header {
  margin-left: 20px;
}

.form {
  display: flex;
  justify-content: space-between;
  margin: 0 170px 20px 20px;
}

.link {
  color: green;
  text-decoration: none;
}

.acc-button {
  border-radius: 4px;
  padding: 10px;
  margin: 20px 0 0 20px;
  background: #596d48;
  color: white;
}

.link-text {
  margin-left: 20px;
}
